img.icon{
    border-radius: 0;
    backdrop-filter: none;
    box-shadow: none;
    filter: invert(1);
    height: 0.8em;
    width: 0.8em;
}

.link-collection li
{
    &.section{
        padding: 0.5rem;
        margin-top: 1rem;
    }
}

.important
{
    border-radius: 1rem;
    border: 1px dotted currentColor;
    padding: 1rem;
    :last-child{
        margin-bottom: 0;
    }

    hr{
        margin: 1rem auto;
    }
}

.page-parent a:before
{
    content: '← ';
}

h1
{
    font-weight: 500;
}